<html>
<header></header>
</body>
<li><a href="/">HOME</a></li>
<br>
<br>
ACTION DATA:
<ul>
    <li>{{ content_action }}</li>
</ul>

<br>
<br>
LOGIN:<br>
<form action="/login" method="POST">
    <label>Username : </label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <label>Password : </label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <button type="submit">Login</button>
</form>
<br>
<br>
LOGOUT:<br>
<form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>
<br>
<br>
CREATE USER:<br>
<form action="/createuser" method="POST">
    <label>username : </label>
    <input type="text" placeholder="provide the new username" name="username" required>
    <label>name : </label>
    <input type="text" placeholder="provide the new firstnamee" name="firstname" required>
    <label>lastname : </label>
    <input type="text" placeholder="provide the new lastname" name="lastname" required>
    <label>password : </label>
    <input type="text" placeholder="provide your password" name="password" required>
    <button type="submit">Submit</button>
</form>
<br>
<br>
MAKE OPERATION:<br>
<form action="/createoperation" method="POST">
    <label>VALUE : </label>
    <input type="text" placeholder="Value" name="value" required>
    <button type="submit">Submit</button>
</form>
<br>
<br>
VIEW OPERATIONS:<br>
<ul>
    <li><a href="/viewoperations">View All Operations</a></li>
    <li>
        <form action="/viewoperation" method="POST">
            <label>OperationID : </label>
            <input type="text" placeholder="Id of your operation" name="operationId" required>
            <button type="submit">Submit</button>
        </form>
    </li>
</ul>
</body>

</html>